<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="51">
    <!-- Nav Bar Start -->

    {{>navbar}}
    <!-- Nav Bar End -->


    <!-- Hero Start -->
    <div class="hero" id="home">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-sm-12 col-md-6">
                    <div class="hero-content">
                        <div class="hero-text">
                            <p>I'm</p>
                            <h1>Mahima Pathak</h1>
                            <h2></h2>
                            <div class="typed-text">HR Trainee , HR Generalist, HR Executive , HR Recruiter , HR Analyst
                            </div>
                        </div>
                        <div class="hero-btn">
                            <a class="btn" href="files/mahimacv.pdf" target="_blank">Hire Me</a>
                            <a class="btn" href="#contact">Contact Me</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 d-none d-md-block">
                    <div class="hero-image">
                        <img src="img/hero.png" alt="Hero Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- About Start -->
    <div class="about wow fadeInUp" data-wow-delay="0.1s" id="about">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-img">
                        <img src="img/about.png" alt="Image">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <div class="section-header text-left">
                            <p style="font-size: 28px; font-weight: bold">Learn About Me</p>
                            <!-- <h2>10 Years Experience</h2> -->
                        </div>
                        <div class="about-text">
                            <p>
                                Communicative , Analytical and determined. These three keys have helped me all through
                                my life to achieve success coming across any herculean task. I look up to utilizing my
                                knowledge in upholding my career in the field of Human Resource.
                            </p>
                        </div>
                        <div class="skills">
                            <div class="skill-name">
                                <p>Recruitment</p>
                                <p>85%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                            <div class="skill-name">
                                <p>Leadership Skills</p>
                                <p>95%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                            <div class="skill-name">
                                <p>Interpersonal Skills</p>
                                <p>90%</p>
                            </div>

                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                            <div class="skill-name">
                                <p>Analytical</p>
                                <p>85%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                            <div class="skill-name">
                                <p>Employee Engagement</p>
                                <p>95%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                            <div class="skill-name">
                                <p>Grievance Handling</p>
                                <p>85%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                            <div class="skill-name">
                                <p>Compensation</p>
                                <p>90%</p>
                            </div>

                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Service Start -->

    <!-- Service End -->


    <!-- Experience Start -->
    <div class="experience" id="experience">
        <div class="container">
            <header class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                <p>My Resume</p>
                <h2>Working Experience</h2>
            </header>
            <div class="timeline">
                <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                    <div class="timeline-text">
                        <div class="timeline-date">10-6-2020 - 10-9-2020</div>
                        <h2>HR Intern</h2>
                        <h4>Avidley Services PVT.LTD</h4>
                        <p>
                            Recruitment, cold calling , compensation as well
                            as learned various organisational skills.

                        </p>
                    </div>
                </div>
                <div class="timeline-item right wow slideInRight" data-wow-delay="0.1s">
                    <div class="timeline-text">
                        <div class="timeline-date"> 30-6-2018
                            - 16-8-2018
                        </div>
                        <h2>Pharma Trainee</h2>
                        <h4> Laborate Pharmaceuticals PVT. LTD ,Panipat</h4>
                        <p>
                            Formulation of various therapeutic products ,Q.C
                            and Q.A of those formulated products.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Job Experience End -->

    <!-- project Start -->
    <div id="project">
        <div class="experience" id="experience">
            <div class="container">
                <header class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <p> project</p>
                    <h2> My Projects</h2>
                </header>
                <div class="timeline">
                    <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                        <div class="timeline-text">
                            <h2> A Study of impact of training and development at HCL
                            </h2>
                            <p>
                                In the study findings were enumerated as the positive step in
                                building the employee engagement and improves job
                                efficiency. As well number of training programmes increase
                                the overall effectiveness at the work place.

                            </p>
                        </div>
                    </div>
                    <div class="timeline-item right wow slideInRight" data-wow-delay="0.1s">
                        <div class="timeline-text">

                            <h2>Impact of recruitment and selection on organisations
                                effectiveness at avidley services pvt Ltd
                            </h2>

                            <p>
                                A solid and effective recruiting and selection process
                                improves your chances of hiring the right person for the right
                                job and more effectively identifies individuals who will fit best
                                into your organizational structure.

                            </p>
                        </div>
                    </div>
                    <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                        <div class="timeline-text">
                            <h2> Research Paper published on formulation and development of
                                herbal vanishing cream.

                            </h2>
                            <p>
                                Due to various side effects herbal products have gained the
                                vogue.


                            </p>
                        </div>
                    </div>
                    <div class="timeline-item right wow slideInRight" data-wow-delay="0.1s">
                        <div class="timeline-text">

                            <h2> Review on chemotherapeutic agents momordica charantia in
                                modern medicine
                            </h2>
                            Chemotherapeutic agents are also called as anti neoplastic
                            agents, used to inhibit directly or indirectly the proliferation of
                            rapidly growing cancerous cells.

                            <p>


                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- project End -->





    <!-- Portfolio Start -->

    <!-- Portfolio End -->


    <!-- Banner Start -->

    <!-- Banner End -->


    <!-- Price Start -->

    <!-- Price End -->





    <!-- Team Start -->

    <!-- Team End -->
    <!-- Blog Start -->
    <div class="blog" id="blog">
        <div class="container">
            <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                <p>From Blog</p>
                <h2> Articles</h2>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="blog-item wow fadeInUp" data-wow-delay="0.1s">
                        <div class="blog-img">
                            <img src="img/blog-1.jpeg" alt="Blog">
                        </div>
                        <div class="blog-text">
                            <h2>Leadership</h2>
                            <p>
                                A charismatic leader can bring revolution in any institution/organization. For a person
                                to be a good leader needs to have a clear vision and ability to communicate that vision
                                to his/her followers. Leadership acts a binders for building the core of the
                                institution. A leader is neither swayed by flattery nor petrified of its foes. We all
                                are "Leaders" , provided we get control over our mind. {{!-- There are two main types of
                                leaders named as Inspirational leaders and a good leader . <span
                                    id="dots">...</span><span id="more"> The key difference between the two of them is
                                    good leader makes his co-workers like their work, but an inspirational leader makes
                                    them love their work . Qualities that transforms a Good Leader into an Inspirational
                                    Leader. Communicate as often as possible with people on your staff or co workers
                                    .Ensure that the people who work for you understand that you value their inputs and
                                    contribution and that you are there to support their growth and development. Be
                                    passionate about their vision, zeal and enthusiasm to succeed and do something
                                    different and at the same time be compassionate towards them. Leadership is more
                                    about the skills and aptitudes that a person has, more than anything else.--}}
                                    <div> <b style="color:rgb(36, 32, 32)">"A leader is a dealer in hope. —Napoleon
                                            Bonaparte"</b> </div>
                            </p>
                            {{!-- <button class="btn" onclick="myFunction()" id="myBtn">Read more</button> --}}
                            {{!-- <a class="btn" href="">Read More <i class="fa fa-angle-right"></i></a> --}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="blog-item wow fadeInUp" data-wow-delay="0.3s">
                        <div class="blog-img">
                            <img src="img/blog-2.jpeg" alt="Blog">
                        </div>
                        <div class="blog-text">
                            <h2>Recruitment And selection</h2>

                            <p>
                                The quality of new recruits depends upon an organizations recruitment practices, and
                                that the relative effectiveness of the selection phase is inherently dependent upon the
                                calibre of candidates attracted. {{!--From the analysis, recruitment and selection is of
                                prime importance to Organization in order to get the best of employees.<span
                                    id="dots1">...</span><span id="more1"> Recruitment and selection of employees to a
                                    greater extent determines the performance of an institution and it is of great
                                    importance if institutions want to achieve their goals.
                                    An effective recruitment and selection process reduces turnover, we also get much
                                    better results in our recruitment process if we advertise specific criteria that are
                                    relevant to the job. Include all necessary skills, and include a list of desired
                                    skills that are not necessary but that would enhance the candidate's chances. If we
                                    fail to do this, we might end up with a low-quality pool of candidates and wind up
                                    with limited choices to fill the open position. When we choose a candidate based
                                    upon the qualifications demonstrated in the resume, the interview, employment
                                    history and background check, we will land the best fit for the position. Based on
                                    our decisions about a specific candidate upon specific evidence rather than any gut
                                    instincts. If we hire people who can do the job instead of people we merely like, we
                                    will have higher productivity and quality in our products or services.
                                </span> --}}
                            <div>
                                <b style="color:rgb(36, 32, 32)">"The
                                    competition to hire the best will increase in the years ahead. Companies that
                                    give extra flexibility to their employees will have the edge in this area."

                                    - Bill Gates, Founder of Microsoft Corporation</b>
                            </div>
                            </p>
                            {{!-- <button class="btn" onclick="myFunction()" id="myBtn1">Read more</button> --}}
                            {{!-- <a class="btn" href="">Read More <i class="fa fa-angle-right"></i></a> --}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog End -->
    <!-- Testimonial Start -->
    <div class="testimonial wow fadeInUp" data-wow-delay="0.1s" id="review">
        <div class="container">
            <div class="testimonial-icon">
                <i class="fa fa-quote-left"></i>
            </div>
            <div class="owl-carousel testimonials-carousel">
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="img/testimonial-2.jpeg" alt="Image">
                    </div>
                    <div class="testimonial-text">
                        <p>
                            She is one of our finest students and I wish her to soar high
                        </p>
                        <h3>Mr. Arun Rana</h3>
                        <h4>Director, Planning and corporate affairs
                            ( Mangalmay institute of management and technology)</h4>
                    </div>
                </div>
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="img/testimonial-1.jpeg" alt="Image">
                    </div>
                    <div class="testimonial-text">
                        <p> She has always been an enthusiastic students who has always been active and meritious
                            student.
                        </p>
                        <h3>Mr. Raghvinder S Yadav </h3>
                        <h4>Asst. Professor ( Mangalmay institute of management and technology)</h4>
                    </div>
                </div>
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="img/testimonial-3.jpeg" alt="Image">
                    </div>
                    <div class="testimonial-text">
                        <p>
                            She is an enthusiastic learner who seems to enjoy college and shows respect for teachers and
                            peers
                        </p>
                        <h3>Mrs. Ankita Deep</h3>
                        <h4>Manager Corporate Resource and Alumni Relations ( Mangalmay institute of management and technology)</h4>
                    </div>
                </div>
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="img/testimonial-4.jpeg" alt="Image">
                    </div>
                    <div class="testimonial-text">
                        <p>
                             
She has been a good and disciplined student. Her active participation in academic as well as extra-curricularactivities has been appreciated by the teachers. I would like to appreciate herpresentation skills to interact concisely and effectively. Her dedication in doing the assignments has been very good. She has been diligent and punctual to undertake the activities given to her and completed to satisfaction. I shall like to wish her good luck and success for all her future endeavors.

                        </p>
                        <h3>Dr. Shweta Kulshrestha</h3>
                        <h4>Associate Professor( Mangalmay institute of management and technology)</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->


    <!-- Contact Start -->
    <div class="contact wow fadeInUp" data-wow-delay="0.1s" id="contact">
        <div class="container-fluid">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-4"></div>
                    <div class="col-md-8">
                        <div class="contact-form">
                            <div id="success"></div>
                            <form name="sentMessage" id="contactForm" novalidate="novalidate" action="/email"
                                method="POST">
                                <div class="control-group">
                                    <input type="text" class="form-control" id="name" placeholder="Your Name"
                                        name="name" required />
                                    <p class="help-block"></p>
                                </div>
                                 <div class="control-group">
                                    <input type="text" class="form-control" id="number" placeholder="Your Mobile no."
                                        name="number" required />
                                    <p class="help-block"></p>
                                </div>
                                <div class="control-group">
                                    <input type="email" class="form-control" id="email" placeholder="Your Email"
                                        name="email" required />
                                    <p class="help-block"></p>
                                </div>
                                <div class="control-group">
                                    <input type="text" class="form-control" id="subject" placeholder="Subject"
                                        name="subject" required />
                                    <p class="help-block"></p>
                                </div>
                                <div class="control-group">
                                    <textarea class="form-control" id="message" placeholder="Message" required
                                        name="text"></textarea>
                                    <p class="help-block"></p>
                                </div>
                                <div>
                                    <button class="btn" type="submit" id="sendMessageButton" onsubmit="myfunction">Send
                                        Message</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->





    <!-- Footer Start -->
    {{>footer}}
    <!-- Footer End -->


    <!-- Back to top button -->
    <a href="#" class="btn back-to-top"><i class="fa fa-chevron-up"></i></a>


    <!-- Pre Loader -->
    <div id="loader" class="show">
        <div class="loader"></div>
    </div>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/typed/typed.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>

    <!-- Contact Javascript File -->


    <!-- Template Javascript -->
    <script src="js/main.js"></script>


</body>

</html>