<div class="footer wow fadeIn" data-wow-delay="0.3s">
            <div class="container-fluid">
                <div class="container">
                    <div class="footer-info">
                        <h2>Mahima Pathak</h2>
                        <h3>Noida Sector 137,Uttar Pradesh</h3>
                        <div class="footer-menu">
                            <p>9319276624</p>
                            <p>Pathakmahima96@gmail.com</p>
                        </div>
                        <div class="footer-social">
                            <a href="https://www.linkedin.com/in/mahima-pathak-0513231b6/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            <a href="https://www.facebook.com/maaaahi96" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://www.instagram.com/_slytherin_mess_/" target="_blank"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </div>
                           
                          
                    </div>
                </div>
                <div class="container copyright">
                    <p>&copy; <a href="#">MaahiFolio</a>, All Right Reserved | Designed By <a href="https://www.instagram.com/mahnameisutsav/">Utsav Maithili</a></p>
                </div>
            </div>
        </div>